.cardesc {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 76px;
}
.cardesc-left{
    width:650px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px grey;
    padding: 46px;
}
.cardesc-right{
    padding-left: 16px;
    width: 480px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px grey;
    border: grey 1px;
}
.car-cards{
    margin-top: 16px;
    width: 450px;
    height: 550px;
    
}

.car-cards img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 100%;
}
.car-cards-name{
    padding: 16px;
    width: 450px;
    
}
.car-cards-name p{
    padding-top: 26px;
    font-weight: bold;
}
.span-price{
    padding-left: 270px;
    font-weight: bold;
}

.car-cards-name-price{
    height: 250px;
}
.car-cards-name-price-top{
    height: 80px;
}
.car-cards-img{
    width: 450px;
    height: 276px;
}

.loading{
    padding-top: 16px;
}
.cardesc-right-button{
    text-align: center;
}
.cardesc-right-button button{
    width: 400px;
    margin-top: 16px;
    color: white;
    font-size: 16px;
}
.p-category{
    
    font-size: 13px;
    color: grey;
}
.span-category{
    font-size: 12px;
    margin-left: 10px;
}

.date-range{
    display: flex;
    border: 1px solid #009C96;
    border-radius: 2px;
    padding: 8px 10px;
    margin-top: 8px;
}
.react-datepicker__input-container input {
    border: none;
    width: 100%;
}
.btn-disable-pick-date{
   opacity: 0.3;
}