.tiket{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tiket-top{
    text-align: center;
    
}
.tiket-bottom{
    width: 650px;
    height: 100%;
    margin: auto;
    padding: 24px;
    box-shadow: 1px 1px 4px 1px grey;
    border-radius: 12px;
}

.tiket-invoice{
    display: flex;
    justify-content: space-between;
}
.display-invoice{
    margin: auto;
    width: 370px;
    border: 1px dashed black;
    padding: 8px 12px;
}
.display-invoice h4{
    padding-bottom: 12px;
    text-align: center;
    border-bottom: solid 1px grey;
}
