
.searchcar-filter{
    display: flex;
    padding: 36px;
    justify-content:center;
    gap: 16px;
    width: 1300px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 4px 2px grey;
    position: relative;
    bottom: 60px;
    z-index: 1;
    background-color: white;
}

.filter-name{
    width: 320px;
}

.btn-success{
    margin-top:42px ;
    width: 120px;
}
.input{
    margin-top: 10px;
}

