.bank-detail{
    display: flex;
    gap: 70px;
    justify-content: center;
}

.bd-left{
    padding: 30px 46px;
    border: 2px red dashed;
    width: 780px;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 12px;
    height: 350px;
}

.bd-left-bank{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px lightgray solid;
    display: flex;
    justify-content: start;
    gap: 30px;
    margin: 20px 0px;
}
.bd-left-bank:hover{
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    gap: 30px;
    margin: 20px 0px;
}
.bank-name {
    padding-top: 4px;
    text-align: center;
    width: 70px;
   border: 1px grey solid;
   border-radius: 4px; 
}
.bank-trf{
    padding-top: 7px;
}
.bd-right{
    padding: 36px 46px;
    border: green dashed 2px;
    width: 450px;
    height: 100%;
    box-shadow: 1px 1px 10px 1px;
    border-radius: 12px;
}
.bd-right-car-name{
    font-weight: 600;
}
.bd-right-car-info-icon{
   display: flex;
   gap: 10px;
   font-size: 12px;
}
.bd-right-cate{
    padding-top: 2px;
}
.bd-right-detailorder{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    background-color: white;
   
    
}
.accordion{
    background-color: white !important;
    border: none white !important;
}
.card-header{
    background-color: white !important;
    border: none white !important;

}
.bd-right-detailorder-iconandprice{
    display: flex;
    gap: 130px;
}
.check-icon-bank{
    position: relative;
    left: 380px;
}
.accordion-bd-right .card{
    border-color: transparent !important;
}
