.bread-crumb{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #F1F3FF;
    margin: auto;
    padding-bottom: 40px;
    
}
.bc-arrow{
display: flex;
flex-direction: column;
gap: 10px;
}
.bc-arrow p {
    margin-left: 24px;
}
.bc-arrow a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    
}

.bc-word h6{
    padding-left: 6px;
    padding-top: 3px;
}
.bc-step{ 
    display: flex;
    gap: 26px;
}
.bc-step-flex{
    display: flex;
}
.bc-line{
    padding-left: 12px;
}