.payment-detail{
    display: flex;
    gap: 220px;
    justify-content:start;
    text-align: left;
    
}
.detail-pesanan{
    padding-bottom: 8px;
}
.payment-top{
    margin: auto;
    padding: 26px 56px;
    width: 1300px;
    border: 1px red dashed;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 1px;
    position: relative;
    bottom: 60px;
    z-index: 1;
    background-color: white;
}